.root {
    display: flex;
    height: 290px;
    width: 100%;
    overflow: scroll;
    margin-top:  20px;
    background-color: rgba(0,0,0,0.5);
}

.eachSong {
    display: flex;
    flex-direction: column;
}

.image {
    height: 150px;
    width: 150px;
    margin: 10px 0;
    }

.songDescription {
    justify-content: center;
    color: #d3d3d3;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

}